

body{
    background-image: url(../img/lap.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.Container{
    width: 1080px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.Content-Login{
    display: grid;
    grid-template-columns: 1fr 1.26fr;
    position: fixed;
    top: 14%;
    background-color: #ffffff;
    width: 50%;
    height: 68%;
    border-radius: 5px;
    overflow: hidden;
}

.Login-Right{
    background-image: linear-gradient(-90deg, rgba(103, 69, 253, 0.3), rgba(106, 77, 255, 0.1)), url(../img/123.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3{
    font-size: 1.1rem;
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, 'Times New Roman', Times, serif;
    letter-spacing: .1rem;
    text-transform: uppercase;
}

h3 span{
    font-size: 2.4rem;
    font-family: cursive;
}

.Login-Left{
    background-color: #ffffff;
    padding: 1rem 3rem 1rem 2rem;
}

h1{
    font-size: 1.4rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, 'Times New Roman', Times, serif;
    letter-spacing: .1rem;
    text-transform: uppercase;
    padding-top: 3rem;
}

input{
    width: 100%;
    border: none;
    outline: none;
    padding: .6rem 0;
    font-size: 1.1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-bottom: 1.5px solid rgb(224, 224, 224);
    color: rgb(85, 85, 85);
}

input:focus{
    border-bottom: 1.5px solid gray;
}

.password input{
    margin-top: 1rem;
}

.form-Group{
    padding-top: 4rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, 'Times New Roman', Times, serif;
}

.forgot-Password{
    text-align: right;
    color: rgb(131, 131, 131);
    cursor: pointer;
}

.forgot-Password:hover{
    color: rgb(253, 67, 67);
}

.sign-In{
    text-align: center;
    padding: 2.5rem;
}

.sign-In a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: .9rem;
    padding: .6rem 2.2rem;
    background-color: royalblue;
    border-radius: 3px;
    color: #ffffff;
    outline: none;
}

.sign-In a:hover{
    background-color: blue;
}

.Create-One{
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
}

.Create-One span{
    color: blue;
}

.form-Login-Email{
    position: relative;
}

.form-Login-Password{
    position: relative;
    margin-top: 1rem;
}

.lb-Email{
    font-style: italic;
    position: absolute;
    top: -25%;
    left: 0;
    color: gray;
    transition: all 1s;
    font-size: 1.1rem;
}

.lb-Password{
    font-style: italic;
    position: absolute;
    top: -25%;
    left: 0;
    color: gray;
    transition: all 1s;
    font-size: 1.1rem;
}

input:placeholder-shown + label{
    opacity: 0;
    transform: translateY(1rem);
}

.Error label{
    color: rgb(209, 59, 59);
    margin-top: .4rem;
}

.Error{
    height: 1.4rem;
}