extends ./layouts/common.pug

block content
  div.d-flex(style="padding: 3rem 0; justify-content: center") 
    h1 Xin Chào
    span &nbsp;
    if users
      h1= users.fullname

  .SanPham.text-center
    div(id="checkError")
    .d-flex.justify-content-center
      a(href="/BuyProduct", class="btn btn-success") Mua Bán Sản Phẩm
      span &nbsp;
      form(action="/users", method="GET")
        button(type="submit", class="btn btn-primary", id="clickUsers", data-id=users._id) Quản Lý Người Dùng
  