
extends ../layouts/common.pug

block content
    h1.text-center(style="padding: 3rem 0") Danh Sách Sản Phẩm

    if users
        form(action="/BuyProduct/search/" + users._id, method="GET", style="display: flex; justify-content: flex-end")
            input(type="text", name="q", class="form-control w-25")
            span &nbsp;
            button(type="submit", class="btn btn-primary") Tìm Kiếm

    .row
        each product in products
            .col-lg-3
                .card(style='width: 17rem; margin: 1rem 1rem')
                    img.card-img-top.text-center(src=product.img, style="height: 270px")
                    .card-body.text-center
                        h5.card-title(style="color: green")= product.name
                        p.card-text(style="font-size: 1.2rem; color: gray")=product.price + ".000đ"
                        a.btn.btn-success(href='/BuyProduct/' + product._id) Đặt Hàng

    .row
        .wapperPhanTrang(class="w-100", style="display: flex; justify-content: center")
            nav(aria-label='Page navigation example')
                ul.pagination
                    if prevClick
                        li.page-item
                        a.page-link(href='BuyProduct?page=' + prevClick) Previous
                    each clickPage in clickPages
                        li.page-item
                        a.page-link.pageClick(href='BuyProduct?page=' + clickPage)= clickPage
                    if nextClick
                        li.page-item
                        a.page-link(href='BuyProduct?page=' + nextClick) Next
        