
extends ../layouts/common.pug

block content
    h1(style="padding-top: 3rem") Chi Tiết Sản Phẩm
    .row(style="padding-top: 3rem")
        .col

            img(src=products.img, style="width: 500px; height: 500px")
        .col
            .chiTietSanPham(style="padding-top: 5rem")
                h1= products.name
                h2= products.price + ".000đ"
                form(action="/BuyProduct/add/cart/" + products._id, method="POST")
                    button(type="submit", class="btn btn-danger") Tiến Hành Đặt Hàng
